body {
  display: flex;
  flex-direction: column; /* stacked on top of each other */
  margin: 0px;
  background-color: #f5f5f5;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  flex: 1;
}

nav {
  /* separated this from "top-nav"" in case I add something in it like "logo" or something */
  background-color: #0000008a;
  border-image: linear-gradient(#0000008a, #f5f5f5) 15; /*wanted a little smoother transition between the nav and header */
  border-width: 0px 0px 4px 0px;
  border-style: solid;
  height: 80px;
}

.top-nav {
  display: flex; /* ?makes it behave like a "block, full width", and Overrides the flex-direction column (from .container) to row again */
  gap: 1.5rem; /* spacing between the items on the sides */
  align-items: center; /* center the li in x-axis */
  justify-content: center; /*center the ul in z-axis*/
  list-style-type: none; /* no bullet points */
  margin: 0px;
  padding: 0px;
  height: 80px; /* height of ul (the grey area) */
}

nav a {
  color: white;
  text-decoration: none; /* no underline */
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.15s ease; /*ease in the transition*/
}

nav a:hover {
  color: #ffffff80;
}

.active {
  color: #ffffff80;
}

/*header*/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main-header {
  padding-top: 120px;
}

.namnloggaren {
  height: 250px;
}

.webdevelopment {
  color: #97bda2;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.title-image {
  width: 100%;
  float: right;
  margin-top: 21.44px;
  border-radius: 3px;
}

section {
  width: 93.3%;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardp {
  width: 33%;
}

footer a {
  /*GitHublogo padded/aligned with "hamb" nav bar*/
  float: right;
  margin: 15px;
  padding: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
}

/*hide the nav&label buttons here when "full size width"*/
#nav-button {
  display: none; /*hides the input checkbox when  "full width size" nav is used */
}

.label-nav {
  /*hides my "hamb" nav bar icon when "full width size" nav is used */
  display: none;
}

/*when screen width is less than 680 pixel go to "mobile version with "hamb bar" and dropdown menu instead */
@media (max-width: 680px) {
  .top-nav {
    position: absolute; /*not sure why I had to set it to absolute, think it has to be to set if I want out of the flexbox flow */
    margin-top: 80px; /*where the dropdown menu should start*/
    height: 0px; /* set to 0 because i don't want anything to stand out of the main nav when "mobile" "hamb" bar isn't activated  */
    overflow: hidden; /* (maybe remove this) so it doesn't "shine" through */
    flex-direction: column; /* makes the nav ul (li) gets stacked on top of each other instead */
    width: 100%; /* the dropdown should take the whole screen width */
    background-color: #bdaaaa; /*same color as the nav bar*/
  }

  .top-nav a:hover {
    color: #97bda2;
    text-decoration: underline #97bda2;
    text-decoration-thickness: 3px;
    transition: 0.15s ease-in;
  }

  .label-nav {
    display: flex; /*overrides the flex-direction column ".container" has */
    float: right; /* using float instead of justify-content, had problem with label drawing a whole line in the middle to click */
    cursor: pointer;
    margin: 15px; /* what makes it get centered */
    padding: 15px; /* some padding so it's easier to hit the nav/"hamb"/"label" bar */
    padding-top: 24px;
    padding-bottom: 24px;
  }

  #nav-button:checked ~ ul {
    height: 100vh; /*calc(
      100vh - 80px
    ); */ /*when clicked on the "hamb" nav button it's going to take upp the whole viewport height - the 80px the nav bar has so it doesn't extend to far*/
    transition: height 0.15s; /* time for transition to full height */
  }

  section {
    width: 93.3%; /*aligned to the .card, space evenly above*/
  }

  .cardp {
    width: 100%;
  }
}
