body {
  margin: 0px;
}

.container {
  display: flex; /* Behaves like a block */
  flex-direction: column; /* stacked on top of each other */
  gap: 1rem; /* gaps between every div/item */
}

nav {
  /* separated this from "top-nav"" in case I add something in it like "logo" or something */
  background-color: #0000008a;
  border-image: linear-gradient(#0000008a, white) 15; /*wanted a little smoother transition between the nav and header */
  border-width: 0px 0px 4px 0px;
  border-style: solid;
  height: 80px;
}

.top-nav {
  display: flex; /* ?makes it behave like a "block, full width", and Overrides the flex-direction column to row again */
  gap: 1.5rem; /* spacing between the items on the sides */
  align-items: center; /* center the li in x-axis */
  justify-content: center; /*center the ul in z-axis*/
  list-style-type: none; /* no bullet points */
  margin: 0px;
  padding: 0px;
  height: 80px; /* height of ul (the grey area) */
}

nav a {
  color: white;
  text-decoration: none; /* no underline */
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.15s ease; /*ease in the transition*/
}

nav a:hover {
  color: #ffffff80;
}

.active {
  color: #ffffff80;
}

/*hide the nav&label buttons here when "full size width"*/
#nav-button {
  display: none; /*hides the input checkbox when  "full width size" nav is used */
}

.label-nav {
  /*hides my "hamb" nav bar icon when "full width size" nav is used */
  display: none;
}

/*when screen width is less than 680 pixel go to "mobile version with "hamb bar" and dropdown menu instead */
@media (max-width: 680px) {
  .top-nav {
    height: 0px; /* set to 0 because i don't want anything to stand out of the main nav when "mobile" "hamb" bar isn't activated  */
    overflow: hidden; /* so it doesn't "shine" through */
    flex-direction: column; /* makes the nav ul (li) gets stacked on top of each other instead */
    width: 100%; /* the dropdown should take the whole screen width */
    background-color: #0000008a; /*same color as the nav bar*/
  }

  .label-nav {
    display: flex;
    float: right; /* using float instead of justify-content, had problem with label drawing a whole line in the middle to click */
    cursor: pointer;
    margin: 15px; /* what makes it get centered */
    padding: 15px; /* some padding so it's easier to hit the nav/"hamb"/"label" bar */
    padding-top: 24px;
    padding-bottom: 24px;
  }

  #nav-button:checked ~ ul {
    height: 100vh; /*when clicked on the ul is goingt to take upp the whole viewport height*/
    transition: height 0.15s; /* time for transition to full height */
  }
}
